<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
<connectionStrings>
    <add name="quiz" connectionString="Data Source=DESKTOP-05-12-2\SQLEXPRESS;Initial Catalog=quiz_app;User ID=sa;Password=adil108/sql;"
        providerName="System.Data.SqlClient" />
    <add name="QuizApp.Properties.Settings.quiz_appConnectionString"
        connectionString="Data Source=DESKTOP-05-12-2\SQLEXPRESS;Initial Catalog=quiz_app;User ID=sa;Password=adil108/sql;"
        providerName="System.Data.SqlClient" />
</connectionStrings>
</configuration>